.start-modal__content {
  width: 100%;
  text-align: center;
}

.start-modal__label {
  margin-bottom: 8px;
  font-weight: 600;
}

.start-modal__first-step {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 700;
}

.start-modal__button {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .start-modal__first-step {
    font-size: 20px;
  }

  .start-modal__button {
    width: 100%;
    margin-right: 0;
  }
}
