.navigation {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navigation__link {
  color: #4b5563;
  text-decoration: none;
  font-weight: 600;
}

.navigation__link:hover {
  color: #2563eb;
}

.navigation__button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: #4b5563;
  font-weight: 600;
}

.navigation__button:hover {
  color: #2563eb;
  opacity: 1;
}
